	
<div class="limiter">
		<div class="container-login100" style="background-image: url('https://i.ibb.co/2Z5zP8D/architecture-beautiful-building-547125.jpg');">
			<div class="wrap-login100">
				<form action="/users/login" method="POST" autocomplete="off" class="login100-form validate-form">
            <% include ./partials/messages %>
					<span class="login100-form-title p-b-34 p-t-27">  
						Log in
					</span>
        
					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input autocomplete="off"  class="input100" type="email" id="email" name="email" placeholder="Enter Email" />
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input type="password" class="input100" id="password" name="password" placeholder="Enter Password" />
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="contact100-form-checkbox">
						<input autocomplete="off" class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Remember me
						</label>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

					<div class="text-center p-t-90">
              <p style="color: #000">No Account? <a style="color: #fff" href="/users/register">Register</a></p>  
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>